.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.App-container {
  display: flex;
  flex: 1;
}

.App-main {
  flex: 1;
  padding: 20px;
  background-color: #F7F7F7;
}

.Navbar {
  height: 60px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Navbar-logo {
  font-size: 24px;
}

.Sidebar {
  width: 220px;
  background-color: #F7F7F7;
  color: #333333;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.Sidebar-menu {
  list-style: none;
  padding: 0;
}

.Sidebar-menu li {
  margin: 15px 0;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.Sidebar-menu li:hover {
  color: #000000;
  background-color: #E0E0E0;
  padding: 5px;
  border-radius: 5px;
}